<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles.css">
    <title>Document</title>
  </head>
  <body>
    <h1>Expense Tracker</h1>
    <div id="form">
      <form action="/form-handling-page" method="post">
        <label for="name">Name (Expense or Income)</label>
        <input type="text" id="name" name="expense_income" />
      </form>
    </div>

    
  </body>
</html>
